@font-face {
  font-family: 'TT Lakes';
  src: local(""), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: local(""), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: local(""), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #1b1c21; }

body {
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
  max-width: 100%;
  overflow-x: hidden; }

a:active,
a:hover,
a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

img {
  display: block; }

button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
  cursor: pointer; }

.open {
  display: inline !important; }

.button-show-hide {
  position: relative;
  padding: 0 5px 0 29px;
  width: 224px;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  background-color: #f8f8f8; }

.button-show-hide::before,
.button-show-hide::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 1px;
  top: 10px;
  pointer-events: inherit;
  background-color: #41f6d7;
  border-radius: 1px 1px; }

.button-show-hide::before {
  transform: rotate(45deg);
  left: 12.5px;
  box-shadow: 3px 3px #41f6d7; }

.button-show-hide::after {
  transform: rotate(-45deg);
  left: 10px;
  box-shadow: -3px 3px #41f6d7; }

.button-show::before {
  transform: rotate(45deg);
  left: 10px;
  box-shadow: 3px 3px #41f6d7; }

.button-show::after {
  transform: rotate(-45deg);
  left: 12.5px;
  box-shadow: -3px 3px #41f6d7; }

.button-arrow {
  position: relative; }
  .button-arrow::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    right: 16px;
    pointer-events: inherit;
    background: inherit;
    border: 2px solid #ff3e79;
    border-radius: 50%; }
  .button-arrow.brands__item-button::before {
    top: 16px; }
  .button-arrow.services__item-button::before {
    bottom: 16px; }
  .button-arrow::after {
    position: absolute;
    content: '';
    width: 8.5px;
    height: 8.5px;
    right: 33.5px;
    pointer-events: inherit;
    background: inherit;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    border-radius: 1px;
    transform: rotate(45deg); }
  .button-arrow.brands__item-button::after {
    top: 30.5px; }
  .button-arrow.services__item-button::after {
    bottom: 30.5px; }

.price-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding-left: 12px;
  text-align: start;
  height: 32px;
  width: 119px;
  font-family: "TT Lakes", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff3e79;
  border: 1px solid #ff3e79;
  border-radius: 16px; }
  .price-button::before, .price-button::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 2px;
    right: 16px;
    top: 39%;
    pointer-events: inherit;
    background: #ffffff;
    border-radius: 2px 0 0 2px;
    transform: rotate(45deg); }
  .price-button::after {
    transform: rotate(-45deg);
    top: 53.2%; }

.inner {
  padding: 0 0 0 16px;
  margin: 0 auto;
  max-width: 1200px; }
  @media (min-width: 768px) {
    .inner {
      padding: 0 24px; } }
  @media (min-width: 768px) {
    .inner {
      padding: 0 32px; } }

.swiper.brands__container {
  height: 118px; }

.swiper.services__container {
  height: 206px; }

.swiper.price__container {
  height: 242px; }

.swiper-slide-active,
.swiper-slide-next {
  max-width: 240px; }

.swiper-slide-active.price__table-line,
.swiper-slide-next.price__table-line {
  max-width: 260px; }

.header {
  border-bottom: 1px solid #d9fff5;
  background-color: #ffffff; }

.header-wrap {
  display: flex;
  align-items: center;
  padding: 18px 0; }
  @media (min-width: 1120px) {
    .header-wrap {
      display: none; } }

.header__menu-button {
  margin-right: 16px; }

.header__logo-image {
  width: 96px; }

.header__logo-link {
  display: inherit; }
  .header__logo-link::before {
    content: '';
    display: none;
    width: 2px;
    height: 32px;
    border-radius: 2px;
    background: #eaeaea;
    margin: auto 20px auto 4px; }
    @media (min-width: 768px) {
      .header__logo-link::before {
        display: block; } }

.header__contacts {
  display: flex;
  margin-left: auto;
  padding: 0; }

.header__contacts-button {
  margin-left: 16px; }

.header__contacts-item {
  display: flex; }

.header__contacts-item--call,
.header__contacts-item--message,
.header__contacts-item--authorization {
  display: none; }
  @media (min-width: 768px) {
    .header__contacts-item--call,
    .header__contacts-item--message,
    .header__contacts-item--authorization {
      display: inherit; } }

.header__contacts-item--order::before {
  content: '';
  display: block;
  width: 2px;
  height: 32px;
  border-radius: 2px;
  background: #eaeaea;
  margin: auto 4px auto 20px; }

.pagination {
  position: relative;
  padding: 24px 0 10px 0; }

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.pagination__title {
  display: flex;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  z-index: 3; }
  .pagination__title::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background: #41f6d7;
    margin: auto 12px auto -16px; }
    @media (min-width: 768px) {
      .pagination__title::before {
        margin: auto 12px auto -24px; } }

.pagination-contacts {
  display: none; }
  @media (min-width: 1120px) {
    .pagination-contacts {
      display: flex;
      gap: 32px; } }

.pagination__contacts-button {
  display: flex;
  align-items: center;
  min-width: 171px;
  min-width: 171px;
  background-color: #f8f8f8; }

.pagination__contacts-text {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; }

.pagination-list {
  display: flex;
  flex-basis: 100%;
  overflow: scroll; }
  .pagination-list::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, #ffffff); }
    @media (min-width: 768px) {
      .pagination-list::after {
        width: 30px; } }
    @media (min-width: 1120px) {
      .pagination-list::after {
        display: none; } }
  .pagination-list::-webkit-scrollbar {
    width: 0; }

.pagination__link {
  margin: 4px 12px; }

.pagination__item {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  border: 2px solid transparent; }
  .pagination__item:hover, .pagination__item:focus, .pagination__item:active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #ffffff; }

.about {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .about {
      margin-bottom: 32px; } }
  @media (min-width: 1120px) {
    .about {
      margin-bottom: 51px; } }

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px; }
  @media (min-width: 768px) {
    .about-wrapper {
      flex-direction: row;
      gap: 48px; } }
  @media (min-width: 1120px) {
    .about-wrapper {
      gap: 36px; } }

.about__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.about__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  white-space: pre-line; }
  @media (min-width: 768px) {
    .about__text {
      line-height: 20px; } }

.about__text-item--tablet {
  display: none; }
  @media (min-width: 768px) {
    .about__text-item--tablet {
      display: inline; } }

.about__text-item--desktop {
  display: none; }
  @media (min-width: 1120px) {
    .about__text-item--desktop {
      display: inline; }
      .about__text-item--desktop:last-child {
        display: none; } }

.about__image {
  margin-left: -16px;
  margin-right: -16px;
  width: auto;
  height: -moz-max-content;
  height: max-content; }
  @media (min-width: 768px) {
    .about__image {
      margin: 0;
      width: 50%;
      border-radius: 7px; } }

.brands {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 1px solid #b8ffec;
  margin-bottom: 8px; }
  @media screen and (min-width: 768px) {
    .brands {
      margin-bottom: 32px; } }
  @media screen and (min-width: 1120px) {
    .brands {
      margin-bottom: 50px; } }

.brands::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  background-image: linear-gradient(to right, transparent, #ffffff); }
  @media screen and (min-width: 768px) {
    .brands::after {
      display: none; } }

.brands__title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background-color: transparent;
  position: relative; }
  .brands__title::before {
    content: '';
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -500%;
    z-index: -1;
    background-image: linear-gradient(to right, #f8f8f8 25%, #ffffff);
    overflow-x: hidden; }

@media screen and (min-width: 768px) {
  .brands__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    gap: 16px 24px;
    padding: 24px 0; } }

@media screen and (min-width: 1120px) {
  .brands__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px; } }

.brands__item-button {
  vertical-align: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 16px;
  min-width: 240px;
  height: 72px; }
  @media screen and (min-width: 768px) {
    .brands__item-button {
      min-width: 224px;
      width: 100%; } }
  @media screen and (min-width: 1120px) {
    .brands__item-button {
      min-width: 240px; } }
  .brands__item-button--apple {
    padding-top: 12px; }
  .brands__item-button--hp {
    padding: 10px; }

.brands__button {
  display: none; }
  @media screen and (min-width: 768px) {
    .brands__button {
      display: inherit; } }

@media screen and (min-width: 768px) {
  .brands__item:nth-child(n + 7) {
    display: none; } }

@media screen and (min-width: 1120px) {
  .brands__item:nth-child(n + 7) {
    display: block; } }

@media screen and (min-width: 1120px) {
  .brands__item:nth-child(n + 9) {
    display: none; } }

@media screen and (min-width: 320px) {
  .brands__item-button {
    min-width: 224px;
    width: 100%; } }

.services {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 1px solid #b8ffec;
  margin-bottom: 8px; }
  @media screen and (min-width: 768px) {
    .services {
      margin-bottom: 32px; } }
  @media screen and (min-width: 1120px) {
    .services {
      margin-bottom: 50px; } }
  .services::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, #ffffff); }
    @media screen and (min-width: 768px) {
      .services::after {
        display: none; } }

.services__title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background-color: transparent;
  position: relative; }
  .services__title::before {
    content: '';
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -500%;
    z-index: -1;
    background-image: linear-gradient(to right, #f8f8f8 25%, #ffffff);
    overflow-x: hidden; }

@media screen and (min-width: 768px) {
  .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    gap: 16px 24px;
    padding: 24px 0; } }

@media screen and (min-width: 1120px) {
  .services__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px; } }

.services__item-button {
  vertical-align: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: start;
  padding: 16px;
  min-width: 240px;
  height: 160px;
  font-size: 16px;
  font-weight: 500;
  font-family: "TT Lakes", sans-serif; }
  @media screen and (min-width: 768px) {
    .services__item-button {
      min-width: 224px;
      width: 100%; } }
  @media screen and (min-width: 1120px) {
    .services__item-button {
      min-width: 240px; } }

.services__button {
  display: none; }
  @media screen and (min-width: 768px) {
    .services__button {
      display: inherit; } }

@media screen and (min-width: 768px) {
  .services__item:last-child {
    display: none; } }

@media screen and (min-width: 1120px) {
  .services__item:last-child {
    display: block; } }

.price {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 1px solid #b8ffec;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .price {
      margin-bottom: 47px; } }
  @media screen and (min-width: 1120px) {
    .price {
      margin-bottom: 50px; } }
  .price::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, #ffffff); }
    @media screen and (min-width: 768px) {
      .price::after {
        display: none; } }
  .price__title {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    background-color: transparent;
    margin-bottom: 31px;
    position: relative; }
    .price__title::before {
      content: '';
      width: 1000%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -500%;
      z-index: -1;
      background-image: linear-gradient(to right, #f8f8f8 25%, #ffffff);
      overflow-x: hidden; }
  .price__table-wrap {
    position: relative; }
    @media screen and (min-width: 768px) {
      .price__table-wrap::before, .price__table-wrap::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 75%;
        top: 55px;
        pointer-events: inherit;
        background: #ffffff;
        border-radius: 8px 8px 8px 8px; } }
    @media screen and (min-width: 768px) {
      .price__table-wrap::before {
        left: 0; } }
    @media screen and (min-width: 768px) {
      .price__table-wrap::after {
        right: 0; } }
  .price .price__list {
    display: flex; }
    @media screen and (min-width: 768px) {
      .price .price__list {
        display: inherit; } }
  .price__table {
    margin-bottom: 32px;
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2;
    border-collapse: collapse;
    border-spacing: 0; }
  .price__table-header {
    background-color: #f8f8f8;
    display: none; }
    @media screen and (min-width: 768px) {
      .price__table-header {
        display: contents;
        position: relative;
        z-index: 2; } }
  .price__table-headline {
    border-color: #f8f8f8;
    padding: 16px 0; }
  .price__row-title {
    padding: 16px;
    text-align: start;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: initial;
    color: #7e7e82; }
    .price__row-title:nth-child(1) {
      width: 49%; }
    .price__row-title:nth-child(2) {
      width: 15%; }
    .price__row-title:nth-child(3) {
      width: 15%; }
    .price__row-title:nth-child(4) {
      width: 21%; }
      @media (min-width: 1120px) {
        .price__row-title:nth-child(4) {
          width: 15%; } }
  .price__table-line {
    display: flex;
    box-sizing: content-box;
    width: 260px;
    height: 200px;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 16px; }
  @media (min-width: 768px) {
    .price__table-line:not(:nth-child(1)) {
      border-top: 1px solid #eaeaea; } }
  .price__table-cell {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 33%;
    padding: 16px;
    justify-items: bottom;
    vertical-align: bottom; }
    @media (min-width: 768px) {
      .price__table-cell {
        display: inherit;
        justify-items: inherit;
        vertical-align: inherit;
        padding: 23px 0;
        text-align: start; } }
    .price__table-cell--with-button {
      position: relative;
      flex-basis: 0; }
      @media (min-width: 768px) {
        .price__table-cell--with-button {
          flex-basis: inherit;
          position: inherit;
          text-align: end; } }
    @media (min-width: 768px) {
      .price__table-cell:first-child, .price__table-cell:last-child {
        padding: 0 16px; } }
    .price__table-cell:before {
      content: attr(data-label);
      color: #7e7e82;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px; }
      @media (min-width: 768px) {
        .price__table-cell:before {
          display: none; } }
  .price__text {
    padding-bottom: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2; }
    @media (min-width: 768px) {
      .price__text {
        width: 60%; } }
  .price__link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2;
    white-space: pre-line; }
    @media (min-width: 400px) {
      .price__link {
        white-space: normal; } }
    @media (min-width: 768px) {
      .price__link {
        padding-right: 0; } }
    .price__link::before, .price__link::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 2px;
      right: 68px;
      top: 68.5%;
      pointer-events: inherit;
      background: #ff3e79;
      border-radius: 2px 0 0 2px;
      transform: rotate(45deg); }
      @media (min-width: 400px) {
        .price__link::before, .price__link::after {
          top: 38.5%;
          right: -16px; } }
    .price__link::after {
      transform: rotate(-45deg);
      top: 78.8%; }
      @media (min-width: 400px) {
        .price__link::after {
          top: 57.8%; } }

.footer {
  padding: 16px 0 19px 0;
  border-top: 1px solid #b8ffec; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 25px 0; } }
  @media screen and (min-width: 1120px) {
    .footer {
      padding: 21px 0; } }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px; }
    @media screen and (min-width: 768px) {
      .footer__wrapper {
        flex-direction: row;
        gap: 32px; } }
  .footer__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #7e7e82;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .footer__text {
        flex-basis: 33%;
        text-align: start; } }
    .footer__text:first-child {
      white-space: pre-line; }
    @media screen and (min-width: 768px) {
      .footer__text:last-child {
        flex-basis: 33%;
        text-align: end; } }


/*# sourceMappingURL=style.css.map*/