.brands {
  position: relative;
  height: fit-content;
  border-top: 1px solid #b8ffec;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.brands::after {
  @include transparent-gradient;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.brands__title {
  @include section-title;
  position: relative;

  &::before {
    @include background-title;
  }
}

.brands__list {
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    gap: 16px 24px;
    padding: 24px 0;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
  }
}

.brands__item-button {
  @include button-swiper;
  padding: 16px;
  min-width: 240px;
  height: 72px;

  @media screen and (min-width: $tablet) {
    min-width: 224px;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    min-width: 240px;
  }

  &--apple {
    padding-top: 12px;
  }

  &--hp {
    padding: 10px;
  }
}

.brands__button {
  display: none;

  @media screen and (min-width: $tablet) {
    display: inherit;
  }
}

.brands__item {
  &:nth-child(n + 7) {
    @media screen and (min-width: $tablet) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &:nth-child(n + 9) {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.brands__item-button {
  @media screen and (min-width: $mobile) {
    min-width: 224px;
    width: 100%;
  }
}
