.about {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 51px;
  }

  &__title {
    @include visually-hidden;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    white-space: pre-line;

    @media (min-width: $tablet) {
      line-height: 20px;
    }
  }

  &__text-item {
    &--tablet {
      display: none;

      @media (min-width: $tablet) {
        display: inline;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $desktop) {
        display: inline;
      }

      &:last-child.open ~ button {
        margin-top: 16px;
      }
    }
  }

  &__image {
    margin-left: -16px;
    margin-right: -16px;
    width: auto;
    height: max-content;

    @media (min-width: $tablet) {
      margin: 0;
      width: 50%;
      border-radius: 7px;
    }
  }
}
