.menu {
  display: none;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 5;
  background-color: $color-light;

  @media screen and (min-width: $desktop) {
    display: inherit;
  }
}

.menu__header {
  display: flex;
  align-content: center;
  margin-bottom: 21px;

  @media (min-width: $desktop) {
    margin-bottom: 37px;
  }
}

.menu__button-close {
  @media (min-width: $desktop) {
    display: none;
  }
}

.menu__button-search {
  margin-left: auto;
}
.menu__logo {
  transition: transform 0.5s ease-in-out;
}

.menu__logo:focus,
.menu__logo:hover {
  transform: scale(1.1);
}

.menu__list {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 268px;
  }
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: $color-secondary;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 32px;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
  margin: -4px 12px auto -1 * ($mobile-main);

  @media screen and (min-width: $desktop) {
    margin-left: -22px;
  }
}

.menu__item:hover::before,
.menu__item:focus::before,
.menu__item:active::before {
  background-color: #41f6d7;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contacts {
  display: flex;
  margin-bottom: 16px;
}

.menu__contacts-item:not(:last-child) {
  margin-right: $mobile-main;
}

.menu__mail {
  display: block;
  margin-bottom: 12px;
}

.menu__phone {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.menu__mail:hover,
.menu__mail:focus,
.menu__mail:active,
.menu__phone:hover,
.menu__phone:focus,
.menu__phone:active {
  cursor: pointer;
  color: $color-secondary;
}

.menu__lang {
  display: flex;
  appearance: none;
}

.menu__lang-button {
  text-transform: uppercase;
  cursor: pointer;
}

.menu__lang-button:not(:last-child) {
  margin-right: 7px;
}

.menu__lang-button label {
  cursor: pointer;
}

.menu__lang-button label:hover {
  color: $color-secondary;
}

.menu__lang-input[type='radio']:checked + label {
  color: $color-secondary;
}
