.pagination {
  position: relative;
  padding: 24px 0 10px 0;
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination__title {
  display: flex;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  z-index: 3;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background: #41f6d7;
    margin: auto 12px auto -16px;
  }
}

.pagination-contacts {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    gap: 32px;
  }
}

.pagination__contacts-button {
  display: flex;
  align-items: center;
  min-width: 171px;
  min-width: 171px;
  background-color: $color-background;
}

.pagination__contacts-text {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.pagination-list {
  display: flex;
  flex-basis: 100%;
  overflow: scroll;
}

.pagination-list::after {
  content: '';
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  z-index: 2;

  @media (min-width: $desktop) {
    display: none;
  }
}

.pagination-list::-webkit-scrollbar {
  width: 0;
}

.pagination__link {
  margin: 4px 12px;
}

.pagination__item {
  color: $color-secondary;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  border: 2px solid transparent;
}

.pagination__item:hover,
.pagination__item:focus,
.pagination__item:active {
  border: 2px solid $color-accent;
  border-radius: 6px;
  background-color: $color-light;
}
