//fonts
@font-face {
  font-family: 'TT Lakes';
  src: local(''),
      url('../fonts/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(''),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(''),
      url('../fonts/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes-Regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
}

// variables
$color-secondary: #7E7E82;
$color-accent:  #B8FFEC;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.button {
  width: 40px;
  height: 40px;
}

.header__menu-button {
  background-color: white;
  border: none;
}

.header__logo-image {
  width: 100px;
}

.header__contacts-item--call,
.header__contacts-item--message,
.header__contacts-item--authorization {
  display: none;
}

.header__contacts-text {
  display: none;
}